# docker-compose.yml
services:
  db:
    image: postgres:14-alpine
    container_name: bookstore_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: bookstore_dev  # <--- เพิ่มบรรทัดนี้
    ports:
      - "5432:5432"